<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  href="body.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <h1>MISSION TO MARS</h1>
          <p><a class="btn btn-primary btn-lg" href="/Mission_to_Mars/scrape_mars.py" role="button">SCRAPE NEW DATA</a></p>
      </div>

<body>

    <body>
      <div class="row" id="latest-news">
        <div class="col-md-12">
          <h2>Latest News From Mars</h2>
          <h4 class="heading">{{article_title}}}</h4>
          <p>{{article_paragraph}}</p>
        </div>
      </div>
      <div class="row" id="featured-image">
        <div class="col-md-12">
          <h2>Latest Featured Imamge from Mars</h2>
          <img src="{{featured_image_url}}" alt="Featured Image" />
        </div>
    </div>
    <div class="col-md-8" id="mars-facts">
        <div class="row">
          <h2>Latest Mars Facts</h2>
          {{mars_facts_url}}
        </div>
    </div>
    <div class="row" id="mars-hempisphere">
        <div class="col-md-12">
          <h2 class="text-center">List of Mars Hemispheres</h2>
          <div class="col-sm-3" >
            <div class="thumbnail">
                <img src="{{mars_hemi_images}}"/>
                <div class="caption" style="text-align: center;">
                </div>
            </div>
          </div>
        </div>
    </div>
    </body>
    
    </html>
